<footer class="footer">
  <span class="footer-copyright">@ OTSAMO 2025</span>

  <nav class="footer-nav">
    <ul>
      <li><a href="{{ shop.privacy_policy.url }}">Privacy Policy</a></li>
    </ul>
  </nav>
</footer>