<footer class="footer container">
  <div class="footer-divider container"></div>
  <div class="footer-wrapper">
    <div class="footer-left">
      <h2 class="footer-newsletter-title">Sign up to our newsletter</h2>
      {% render 'klaviyo-form' %}
    </div>

    <div class="footer-right">
      <div class="footer-links-columns">
        <div class="footer-links-column">
          <nav class="footer-nav">
            <ul>
              <li><a href="{{ shop.refund_policy.url }}">Refund Policy</a></li>
              <li><a href="{{ shop.shipping_policy.url }}">Shipping Policy</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer-links-column">
          <nav class="footer-nav">
            <ul>
              <li><a href="{{ shop.privacy_policy.url }}">Privacy Policy</a></li>
              <li><a href="{{ shop.terms_of_service.url }}">Terms & Conditions</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="footer-contact">
        <a href="mailto:info@otsamo.com" class="footer-email">info@otsamo.com</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright-wrapper">
    <span class="footer-copyright">© OTSAMO 2025</span>
  </div>
</footer>