<section class="landing-page-container">
  <div class="landing-page-wrapper">
    <div class="landing-page-slider-column">
      {% render 'image-slider' %}
    </div>
    <div class="landing-page-content-column">
      <div class="landing-page-content">
        <header>
          <h1 class="landing-page-title">
            {{ section.settings.heading }}
          </h1>
        </header>

        <section class="landing-page-description-container">
          <p class="landing-page-description">
            {{ section.settings.description }}
          </p>
        </section>
      </div>
    </div>
  </div>
</section>

<div class="logo-animation-overlay">
  <div class="logo-animation-content">
    {% render 'logo-svg' %}
  </div>
</div>

{% schema %}
  {
    "name": "Landing Page",
    "max_blocks": 50,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Main Heading",
        "default": "Introducing OTSAMO. A quiet luxury wardrobe."
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>OTSAMO is a fashion label...</p>"
      }
    ],
    "blocks": [
      {
        "type": "slider_image",
        "name": "Slider Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Landing Page"
      }
    ]
  }
{% endschema %}