/* Hero Section Styles */
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 86px);
  overflow: hidden;
  margin-bottom: 70px;
}

.hero-images {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image-placeholder {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.hero-title {
  font-family: Manrope;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: var(--hero-text-color);
  max-width: 700px;
}

.hero-cta {
  font-family: Manrope;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 1%;
  color: var(--hero-text-color);
  text-decoration: underline;
  margin-top: 0;
  transition: opacity 0.3s ease;
  text-transform: uppercase;
}

.hero-cta:hover {
  opacity: 0.7;
}

@media (max-width: 820px) {
  .hero {
    height: calc(100vh - 84px);
  }

  .hero-images {
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
    height: 50%;
  }

  .hero-content {
    transform: translateY(17px);
  }

  .hero-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hero-cta {
    font-size: 16px;
    margin-top: 0;
  }
}

